
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");
/* common styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
.navbar-brand{
    font-size: 3.5rem;
    color: black;
    font-family: "Sevillana", cursive;
    font-weight: 500;
}
.sevillana-regular {
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
.navbar-brand:hover{
    color: green;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color:black ;
    text-transform: uppercase;
}
.nav-link:hover{
    color: rgb(103, 188, 103);
}
.search{
    height:40px ;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right:-35px ;
    border: 2px solid rgb(246, 67, 67);
}
.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgb(246, 67, 67);
    color: white;
    font-weight: 700;
    border-radius: 60px;
}
.main{
   background: url("https://cdn.pixabay.com/photo/2016/12/26/17/28/spaghetti-1932466_1280.jpg"); 
   background-size: cover;
   height: 100vh;
   background-position: 50%;
   width: 100%;

}
.main h1{
    font-size: 4rem;
    font-weight: 700;
    font-family: ;
    color: #fff;
   /* margin-top: 30vh; */
}
.btn1{
    height:45px ;
    width: 35%;
    border: none;
    outline:none;
    color: #fff;
    font-weight:700;
    border-radius:60px ;
    background-color:rgb(246, 67, 67) ;

}
.card:hover{
    -webkit-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);

}
.btn1:hover{
    background-color:rgb(246, 67, 67) ;
    transition: 0.5s;
}
h1{
    font-weight: 700;
}

#img-box{
    height: 20px;
    width: 30vh;
}
.apple{
    background: url(https://cdn.pixabay.com/photo/2016/01/05/13/58/apple-1122537_1280.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.apple h1{
    font-family: "Sevillana", cursive;
    font-weight:300 ;
}
.news{
    background-color: black;
    color: #fff;
}
.btn2{
    height: 45px;
    width: 100px;
    background: #fff;
    margin-left: -10px;
    border: 2px solid #fff;
    font-weight: 600;
}
.news input{
    height: 45px;
    width: 55%;
    border: none;
    outline: none;
    background: black;
    color: #fff;
    margin-top: 20px;
    font-weight: 600;

}
.news::placeholder{
    color: #fff;

}
.news p{
    margin: 0;
}
.fab{
 font-size: 2.5rem;
 cursor: pointer;
 padding-right: 5px;   
}
.faa{
    font-size: 1.9rem;
}